

#navBar {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 68.5px;

    background-color: #444;

}

#menuIcon {

    position: absolute;

    color: whitesmoke;
    font-size: 80px;
    width: fit-content;
    height: 34.25px;
    top: -10px;
    left: 20px;
    margin: 0;

    white-space: normal;


}

#menuList {

    list-style-type: none;
    position: absolute;
    top: 0;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#menuList li {

    font-size: 35px;
    color: whitesmoke;
    display: inline-block;

    margin-left: 80px;
    margin-right: 80px;

}